/*Todo array als object*/

body {
  background-color: green;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin:0;
  padding: 1em;
}

h1 {
  text-align: center;
  color:
}

  #container{
    display:grid;
    /*autofill: de browser bekijkt hoeveel ruimte kan worden toegewezen*/
    /*minmax: minimale waarde dat past en het element mag zo groot worden als de max*/
      grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));

      /*De ruimte tussen ieder element
      alleen wilt de grid-gap maar niet werken zoals op het voorbeeld.
      Ik krijg niet te zien waarom.*/
      grid-gap:.1px;

      /*automatishc rijen maken van een bepaalde hoogte met de volgende waardes:*/
      /*value 1 is breedte van images op rij 1*/
      /*value 2 is breedte van images op rij 2*/
      /*value 3 is breedte van images op rij 3
      https://developer.mozilla.org/en-US/docs/Web/CSS/grid-auto-rows*/
      /*geef 1 value om alle rijen aan te passen grid-auto-rows: 160px/
*/
      grid-auto-rows: 160px;
      /*! wanneer een leeg vak gevuld kan worden, dan gebeurd dat*/
      grid-auto-flow: dense;
  }

figure img{
  width: 100%;
  height: 100%;
  object-fit:cover;
}

/*Wanneer het scherm van de bezoeker groter is dan 600 px dan:*/
@media screen and (min-width:600px){
  /*Het eerste item wprdt gekozen en */
  figure:first-child{
    /*Mag twee kolomen breed en 2 rijen hoog reserveren en in beslag nemen.*/
    grid-row:span 2;
    grid-column: span 2;
  }

  figure:nth-child(3n){
    grid-row:span 2;
    grid-column: span 2;
  }
}
